body {
  margin: 0;
  background-color: grey;
}

ul.nav {
  list-style: none;
  display: flex;
  flex-direction: row;

  background-color: purple;
  width: 100%;
  height: 50px;

  margin: 0;

  align-items: center;

  li {
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
  }

  li:hover {
    background-color: black;
    color: white;
  }
}

.content {
  margin-left: 14%;
  margin-right: 14%;
  padding: 10px 10px 10px 10px;
  min-height: 1000px;
  width: 70%;
  background-color: white;
}
